@import 'tailwindcss';

:root {
  --one: #ff0000;
  --two: 255 00 00;
  --color-three: #ff0000;
  --color-four: 255 00 00;
}

@theme inline {
  /* Not self-referencing, not using rgb() ✅ */
  --color-one: var(--one);

  /* Not self-referencing, using rgb() ✅ */
  --color-two: rgb(var(--two));

  /* Self-referencing, not using rgb() ✅ */
  --color-three: var(--color-three);

  /* Self-referencing, using rgb() ❌ */
  /* This silently fails and breaks all IntelliSense. */
  --color-three: rgb(var(--color-three));
  /* Comment 👆 out and Reload VS Code to get IntelliSense working again */
}
